html,body {
  height: 100%;
}


/*==================================
=            ACCOUNT PAGE          =
==================================*/

.account-page{
  height: 100%;
  background-color: $bg-color;
  
  .container, .container>.row {
    height: 100%;
  }

  .account-page__left, .account-page__right {
    height: 100%;
    position: relative;
  }

  .account-page__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  h1 {
    font-family: $iconf;
    color : $btn-bg;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-family: $df;
    color: $input-text;
    text-align: center;
  }

  .logo {
    margin: auto;
    text-align: center;

    img {  
      width: 150px;
      height: 150px;
    }
  } 
  }

  .account-page__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-left-width: $border-width;
    border-left-style: $border-style;
    border-left-color: $border-color;
    padding: 30px 30px 30px 80px;
  }
}


/*==================================
=            LOGIN PAGE            =
==================================*/

.login {

  .form-bottom {
    float : left;
    padding-top: 5px;
  
    .left {
      margin-left: 0px; 
      padding-right: 155px;
      font-family: $df;
      font-size: 14px;
      color: $text-color; 
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }

    .right { 
      float: right;
      margin-right: 0px;
      font-family: $df;
      font-size: 14px;
      color: $text-color; 
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }
  }
}


/*====================================
=            REGISTER PAGE           =
====================================*/

.register {

  .link{
    width: 75%;
    
    a {
      font-family: $df;
      font-size: 14px;
      color: $text-color; 
      float: right;
      margin: 7px 10px 0px 0px;
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }
  }
}


/*===================================
=            HEADER                 =
===================================*/
.header-left {
  display: inline-block;
  padding: 19px;

  figure {
    display: inline-block;
    width: 78px;
    height: 78px;
    border: 4px $border-style #bbdbff;;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-left-menu {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;

    li {
      float: left;
      padding: 15px 20px 15px 20px;
      border-right-width: $border-width;
      border-right-style: $border-style;
      border-right-color: #d4d4d4;

      &:last-child {
        border: none;
      }

      &:first-child {
        padding-left: 0px;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      padding: 10px;
      font-size: 14px;
      font-weight: 500; 
      border-radius: 5px;

      &.active, &:focus {
        border: $border-width $border-style #bbdaff;
      }
    }
  }
}

.header-right {
  float: right;
  padding: 20px 20px 20px 0px;

  .header-right-menu {
    float: right;

    li {
      float: left;
      padding: 30px 15px 30px 0px;
    }

    a {
      text-decoration: none;
      color: #000;
      padding: 10px;
      font-size: 14px;
      font-weight: 500; 
      border-radius: 5px;

      &.active, &:focus {
        border: $border-width $border-style #bbdaff;
      }
    }

    .left {
      color: #4990e2;

      i {
        color: #4990e2;
        vertical-align: middle;
        margin: 0px 5px 0px 0px;
      }
    }

    .right {
      color: #d0011b;

      i {
        color: #d0011b; 
        vertical-align: middle;
        margin: 0px 5px 0px 0px;
      }
    }
  }
}


/*==================================
=            INDEX PAGE            =
==================================*/

.index-content {
  background-color: $container-bg;
  height: calc(100% - 135px);

  .index-content-item {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin-top: 60px;
    border-radius: 7px;
    background-color: white;
    color: $bg-color;
    position:relative;
    box-shadow: 0 2px 4px 0 rgba(190, 165, 165, 0.5);
  }

  .department-table{
    float: right;
    margin-left: 100px;
  }

  .teacher-table {
    opacity: 0.66;
  }

  h4 {
    text-align: center;
    color: #4990e2;
    padding: 10px;
    border-bottom-width: 2px;
    border-bottom-style: $border-style;
    border-bottom-color: $container-bg;
  }

  .scroll-pane {
    height: 500px;
    width: 100%;
    overflow: auto;

    li {
      text-align: left;
      padding: 5px 0px 5px 0px;
    }

    a {
      padding:15px 0px 15px 60px;
      text-decoration: none;
      color: $bg-color;

      &:focus, &:active {
        color: #bd0fe1;
        font-style: italic;
      }
    }
  }
}


/*====================================
=            REQUEST PAGE            =
====================================*/

.request-content {
  background-color: #f4f4f4;
  height: calc(100% - 135px);

  .table {
    width: 750px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
    background-color:#fff;
    box-shadow: 0 4px 6px 0 rgba(190, 165, 165, 0.5);
    
    .table_header {
      height: 50px;

      ul {
        float: left;
        width: 100%;

        li {
          color: #4990e2;
          font-weight: bold;
          float: left;
          border-right-style: $border-style;
          border-right-width: $border-width;
          border-right-color: LightGray;
          border-bottom-style: $border-style;
          border-bottom-width: 2px;
          border-bottom-color: LightGray;
          width: 25%;
          padding:15px;
          font-size:14px;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .table_body {
      width: 100%;
      height: 350px;
      overflow: auto;
      background-color: $text-color;
      padding:15px;

      .box {
        margin-top: -12px;
        margin-bottom: 10px;
      }

      span {
        color: #000;
        margin-left: 0px;
      } 
    }

    .table_footer {
      background-color: #fff;
      margin-top: 0px;
      height: 60px;
      padding:15px;

      .reject {
        width: 200px;
        height: 35px;
        text-align: center;
        background-color: transparent;
        color: #000;
        float: right;
        border: solid 1px #d0011b;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
      }

      .confirm {
        width: 200px;
        height: 35px;
        text-align: center;
        background-color: transparent;
        color: #000;
        float: right;
        margin-right: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        border: solid 1px #7ed321;
      }
    }
  }
} 


/*==============================
=            SCROLL            =
==============================*/

.mCSB_2_container {
  width: 100%;
}

.mCSB_scrollTools {
  
  .mCSB_draggerRail {
    width: 10px;
    border-radius: 100px;
    background-color: #bbdaff;
  }

  .mCSB_drager_bar {
    width: 8px;
    border-radius: 100px;
    background-color: #ffffff;
  }
}


/*===========================================
=            FORGOT PASSWORD PAGE           =
===========================================*/

.forgot-password {

  .bottom-link{
    width: 75%;
    
    a {
      font-family: $df;
      font-size: 14px;
      color: $text-color; 
      float: right;
      margin: 7px 10px 0px 0px;
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }
  }
}


/*=====================================
=            SETTINGS PAGE            =
=====================================*/

.settings {
  background-color: $container-bg;
  height: calc(100% - 135px);

  .settings-box {
    width: 80%;
    height: 246px;
    color: #4a4a4a;
    background-color: #FFF;
    margin: auto;
    margin-top: 80px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(190, 165, 165, 0.5);

    h1 {
      border-bottom-width: 4px;
      border-bottom-style: $border-style;
      border-bottom-color: #d4d4d4;
      padding: 30px 0px 30px 50px;
      font-weight: 700;
    }

    ul {
      margin-left: 40px;

      li {
        padding: 20px 15px 20px 15px;
        font-weight: 550;

        a {
          text-decoration: none;
          font-size: 17px;
          color: #000;
          position: relative;
        }

        .settings-link-top {
          font-size: 12px;
          position: absolute;
          top: 140px;
          right: 40px;
        }

        .settings-link-bottom {
          font-size: 12px;
          position: absolute;
          top: 200px;
          right: 40px;
        }
      }
      
      .settings-link {
        padding-right: 10px;
      }
    }
  }
}


/*======================================
=     SETTINGS USER INFO PAGE          =
======================================*/

.settings-userinfo-content {
  background-color: #f4f4f4;
  height: calc(100% - 135px);

  .info-box {
    margin-top:50px;
    width: 75%;
    height: 445px;
    background-color: $text-color;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 4px 0 rgba(190, 165, 165, 0.5);

    .info-header {
      border-bottom-style: solid;
      border-bottom-width: 7px;
      border-bottom-color: #f3f3f3;

      h1 {
        font-size: 48px;
        font-weight: bold;
        text-align: left;
        color: #4a4a4a;
        padding-left: 75px;
      }
    }

    .info-body {

      .info-body-left {

      ul {
        float: right;
        padding: 20px;
      }

        li {
          font-size: 18px;
          font-family: $df;
          font-weight: bold;
          text-align: left;
          color: #4a4a4a;
          padding:10px;
          margin-top: 15px;
        }
      }

      .info-body-right {

        ul {
          padding: 20px;
        }

        li {
          color: #f1f1f1;
          input {
            width: 292px;
            font-size: 18px;
            font-family: $df;
            font-weight: bold;
            text-align: left;
            color: #4a4a4a;
            border: none;
            margin-top: 30px;
            outline: none;
            border-bottom: $border-style $border-width #979797;
          }
          input::placeholder {
            color: LightGray;
          }
        }

        .info-confirm {
          width: 170px;
          height: 44px;
          border-radius: 4px;
          background-color: #4990e2;
          font-size: 20px;
          font-weight: bold;
          text-align: left;
          color: #ffffff;
          padding-left: 45px;
          margin-left: 150px;
          margin-top: 6px;
        }
      }
    }
  }
}


/*==========================================
=            PASSWORD EDIT PAGE            =
==========================================*/

.password-edit-content {
  background-color: #f4f4f4;
  height: calc(100% - 135px);

  .password-edit-box {
    margin-top: 50px;
    width: 75%;
    height: 402px;
    background-color: $text-color;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 4px 0 rgba(190, 165, 165, 0.5);

    .password-edit-header {
      border-bottom-style: solid;
      border-bottom-width: 7px;
      border-bottom-color: #f3f3f3;

      h1 {
        font-size: 48px;
        font-weight: bold;
        text-align: left;
        color: #4a4a4a;
        padding-left: 75px;
      }
    }

    .password-edit-body {

      .password-edit-body-left {

        ul {
        float: right;
        padding: 20px;
        }

        li {
          font-size: 18px;
          font-family: $df;
          font-weight: bold;
          text-align: left;
          color: #4a4a4a;
          padding:10px;
          margin-top: 15px;
        }
      }

      .password-edit-body-right {

        ul {
          padding: 20px;
        }

        li {
          color: #f1f1f1;
          input {
            width: 292px;
            font-size: 18px;
            font-family: $df;
            font-weight: bold;
            text-align: left;
            color: #4a4a4a;
            border: none;
            margin-top: 30px;
            outline: none;
            border-bottom: $border-style $border-width #979797;
          }
          input::placeholder {
            color: LightGray;
          }
        }

        .password-edit-confirm {
          width: 170px;
          height: 44px;
          border-radius: 4px;
          background-color: #4990e2;
          font-size: 20px;
          font-weight: bold;
          text-align: left;
          color: #ffffff;
          padding-left: 45px;
          margin-left: 150px;
          margin-top: 6px;
        }
      }
    }
  }
}


/*============================================
=            APPOINTMENT ADD PAGE            =
============================================*/

.appointment-add {
  background-color: $container-bg;
  height: 100%;

  .appointment-add-item {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(190, 165, 165, 0.5);
    margin: 30px auto;
    width: 80%;
    height: 600px;
    background-color: #FFF;

    a {
      text-decoration: none;
      color: #4990e2;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }

    .slider-button-left {
      position: absolute;
      top: 27px;
      left: 25px;
      z-index: 1;
    }

    .slider-button-right {
      position: absolute;
      top: 27px;
      right: 25px;
      z-index: 1;
    }

    .appointment-date {
      position: relative;
      margin: auto;
      padding: 23px 0px 0px 0px;

      p {
        display: inline-block;
        color: #4990e2;
        font-weight: 500;
        font-size: 18px;
      }

      .warn-date {
        color: #9b9b9b;
        text-decoration: line-through;
        text-decoration-color: #d0011b;
      }

      .full-date{
        color: #d0011b;
        font-weight: 500;
        padding: 0px 80px 0px 10px;
      }

      .offset {
        width: 0px;
      }
    }

    .appointment-time {
      width: 100%;
      height: 300px;
      overflow: auto;
      overflow-X:hidden;
      border-top-width: 2px;
      border-top-style: $border-style;
      border-top-color: #d4d4d4;

     .appointment-time-item {
        display: inline-block;

        li {
          padding: 15px 10px 15px 10px;
        }

        a {
          text-decoration: none;
          color: #bd0fe1;
          font-size: 16px;

          &:focus {
            color: #75d701;
            outline: transparent;
            font-style: italic;
            font-weight: 500;
          }

          &.full {
            color: #9b9b9b;
          }
        }

        i {
          opacity: 0.16;
          color: #7200da;
          font-size: 80px;
          margin: 120px 0px 0px 20px;
        }
      }
    }

    .t-name {
      font-style: italic;
      font-size: 14px;
      color: #000;
      height: 10px;
      margin: 65px 0px 0px 100px;
    }

    .appointment-cause {
      font-weight: 500;
      font-size: 14px;
      color: #bd0fe1;
      margin: 35px 0px 0px 100px;
    }

    .appointment-add-button {
      width: 150px;
      height: 45px;
      color: #000;
      background-color: #FFF;
      border: $border-width $border-style #75d701;
      border-radius: 5px;
      padding: 0px;
      margin: 100px 0px 0px 70px;
    }
  }
}


/*====================================
=            MESSAGE PAGE            =
====================================*/

.alert {
  background-color: #fbfbfb;
  width: 100%;
  min-height: 100px;
  margin-top: 30px;
  border:0;

  .info-message{
    width: calc( 100% - 110px );
    margin-top: -50px; 
  }

  p {
    font-size: 18px;
    text-align: center;
    color: #4a4a4a;
    font-family: $df; 
  }

  .image-info {
    height:100px;
    width: 100px;
    background-color:  #7200da;

    img{
      width: 65px;
      height: 65px;
      background-color:  #7200da;
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  .image-success {
    height:100px;
    width: 100px;
    background-color: #75d701;

    img{
      width: 65px;
      height: 65px;
      background-color: #75d701;
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  .image-warning {
    height:100px;
    width: 100px;
    background-color: #fb684b;

    img {
      width: 65px;
      height: 65px;
      background-color: #fb684b;
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  .image-danger {
    height:100px;
    width: 100px;
    background-color: #d0011b;

    img {
      background-color: #d0011b;
      min-height: 65px;
      width: 65px;
      margin-left: 15px;
      margin-top: 15px;
    }
  }
}

.info-message-box {
  width: 70%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #7200da;
  border-radius: 5px;
  margin-left: 20%;
}

.success-message-box {
  width: 70%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #75d701;
  border-radius: 5px;
  margin-left: 20%;
}

.warning-message-box {
  width: 70%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #fb684b;
  border-radius: 5px;
  margin-left: 20%;  
}

.danger-message-box {
  width: 70%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #d0011b;
  border-radius: 5px;
  margin-left: 20%; 
}
