html, body {
  height: 100%;
}

div {
  color: red;
}


/*==================================
=            LOGIN PAGE            =
==================================*/
.login-page {
  
  height: 100%;
  .container, .container>.row {
    height: 100%;
  }
  .login-page__left, .login-page__right {
    height: 100%;
    position: relative;
  }

  .login-page__text, .login-page__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
 
.form-bottom{
  float : left;
  padding-top: 5px;
  
  .left {
    margin-left: 0px;
    padding-right: 155px;
  }

  .right { 
    float: right;
    margin-right: 0px;
  }
}

/*====================================
=            Register Page            =
====================================*/
.register {

  .select-box {
    position: relative;
    padding: 17px;
    z-index: 1;
    border: $border-width $border-style $border-color;
    border-radius:5px;


    &:after {
      content:"";
      position: absolute;
      top: 15px;
      right: 10px;
      z-index: 3;
      border: 6px solid transparent;
      border-top: 6px solid $input-text;
    }

    select {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 0px;
      box-shadow: 0px;
      overflow: hidden;
      z-index: 2;
      cursor: pointer;
      -webkit-appearance: none;
      -max-appearance: none;
      -ms-appearance: none;
    }

    &:hover{
      border: $border-width $border-style $btn-bg;
    }

    &:focus, &:active {
      border: $border-width $border-style $btn-bg;
      color: $text-color;
    }
  }
}