html, body {
  height: 100%;
}

/*==================================
=            ACCOUNT PAGE            =
==================================*/
.account-page{
  height: 100%;
  
  .container, .container>.row {
    height: 100%;
  }

  .account-page__left, .account-page__right {
    height: 100%;
    position: relative;
  }

  .account-page__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  h1 {
    font-family: $iconf;
    color : $btn-bg;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-family: $df;
    color: $input-text;
    text-align: center;
  }

  .logo {
    margin: auto;
    text-align: center;

    img {  
      width: 150px;
      height: 150px;
    }
  } 
  }

  .account-page__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*==================================
=            LOGIN PAGE            =
==================================*/
.login {
  width: 100%;
  border-left-width: $border-width;
  border-left-style: $border-style;
  border-left-color: $border-color;
  padding: 30px 30px 30px 80px; 

  .form-bottom {
    float : left;
    padding-top: 5px;
  
    .left {
      margin-left: 0px; 
      padding-right: 165px;
      font-family: $df;
      font-size: $df-size;
      color: $text-color; 
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }

    .right { 
      float: right;
      margin-right: 0px;
      font-family: $df;
      font-size: $df-size;
      color: $text-color; 
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }
  }
}

/*====================================
=            REGISTER PAGE            =
====================================*/
.register {
  width: 100%;
  border-left-width: $border-width;
  border-left-style: $border-style;
  border-left-color: $border-color;
  padding: 30px 30px 30px 80px; 

  .link{
    width: 75%;
    
    a {
      font-family: $df;
      font-size: $df-size;
      color: $text-color; 
      float: right;
      margin: 7px 10px 0px 0px;
      text-decoration: none;

      &:hover {
        color: $btn-bg;
        text-decoration: none;
      }
    }
  }
}