@import url('https://fonts.googleapis.com/css?family=Dosis|Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Sniglet&subset=latin-ext');


body {
  font: $df-size $df;
  background-color: $bg-color;
  color: $text-color;
}

form{
  border-left-style: $border-style ;
  border-left-color: $input-text;
  border-left-width: $border-width;
  margin: 10px;
  padding: 85px;
}

a{
  font-family: $df;
  font-size: $df-size;
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $btn-bg;
    text-decoration: none;
  }   
}

figure {
  margin: auto;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
  }
}

h1 {
  font-family: $iconf;
  color: $btn-bg;
  font-size: 40px;
  text-align: center;
}

p {
  font-family: $df;
  color: $input-text;
  font-size: 18px;
  text-align: center;
}

form {
  width: 100%;
  border-left-width: $border-width;
  border-left-style: $border-style;
  border-left-color: $border-color;
  padding: 30px 30px 30px 80px; 
}

figure {
  margin: auto;
  text-align: center;

  img{
    width: 150px;
    height: 150px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $iconf;
  color : $btn-bg;
  text-align: center;
}

p {
  font-size: 18px;
  font-family: $df;
  color: $input-text;
  text-align: center;
}

a {
  font-family: $df;
  font-size: $df-size;
  color: $text-color; 
  float: right;
  margin: 7px 10px 0px 0px;
  text-decoration: none;

  &:hover {
    color: $btn-bg;
    text-decoration: none;
  }
}