@import url('https://fonts.googleapis.com/css?family=Dosis|Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Sniglet&subset=latin-ext');

body {
  font: $df-size $df;
  background-color: $bg-color;
  color: $text-color;
}
