// Colors
$text-color: #fff;
$bg-color: #29363f;
$container-bg: #f4f4f4;

//Fonts
$iconf: 'Sniglet', cursive;
$df: 'Roboto', sans-serif;
$df-size: 16px;

//Buttons
$btn-bg: #6ed9a1;
$btn-text: #fff;

//Inputs
$input-bg: #29363f;
$input-text: #a9a9a9;

//Borders
$border-width: 1px;
$border-style: solid;
$border-color: #4c5861;