{% extends "base.html" %}

{% load i18n staticfiles %}
{% load raven_extras %}


{% block title %}{{ block.super }} | {{  title }}{% endblock %}

{% block style %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}"/>
{% endblock %}

{% block body-class %}class="registration-page"{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 registration-page__left">
        <div class="header-left">
          <figure class="registration"><img src="{% static 'img/user.jpg' %}"></figure>
          <ul class="header-left-menu">
            <li><a class="active" href="request.html">Requests</a></li>
            <li><a class="active" href="#">States</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 registration-page__right">
        <div class="header-right">
          <ul class="header-right-menu">
            <li><a class="left" href="settings.html"><i class="material-icons">settings</i>Settings</a></li>
            <li><a class="right" href="login.html"><i class="material-icons">exit_to_app</i>Exit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid request-content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registration-page__right">
      <div class="table">
        <div class="table_header">
          <ul>
            <li>Student</li>
            <li>Date</li>
            <li>Email</li>
            <li>Department</li>
          </ul>
        </div>
        <div class="table_body scroll-pane">
          {% for register in registers %}
          {% if register.status == 0 %}
            <div class="row">
              <form class="registration-page registration_page__form" action="{% url 'registration-request' %}" method="post">
                {% csrf_token %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 registration-page__right">
                   <div class="request">
                     <div class="box">
                       <label class="custom-control custom-checkbox">
                         <input type="checkbox" name="register" id="register{{ forloop.counter }}" value = "{{ register.id }}">
                         <span class="custom-control-indicator"></span>
                       </label>
                       <tr>
                         <span>{{ register.first_name }}</span>
                         <span>{{ register.last_name }}</span>
                       </tr>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 registration-page__right">
                    <span>{{ register.create_date }}</span>
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 registration-page__right">
                  <span>{{ register.email }}</span>
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 registration-page__right">
                  <span>{{ register.department.name }}</span>
                 </div>
             </div>
            {% endif %}
           {% endfor %}
         </div>
          <div class="table_footer">
            <button class="reject" name="reject">Reject</button>
            <button class="confirm" name="confirm">Confirm</button>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}

  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
